{% extends 'base.html.twig' %}

{% block body %}
    <section class="d-flex w-100" style="background-color: #FAFBFE">
        <div class="container d-flex flex-column">
            {% block content %}
            {% endblock %}
        </div>
    </section>
{% endblock %}