{% extends 'base.html.twig' %}

{% block body %}
<div class="container vh-100 background-gif" style="background-image:url(./images/gif-ai-chatbot.gif);background-size: contain;background-repeat: no-repeat;background-position: center;" >
    <div class="d-flex flex-column align-items-center justify-content-center vh-100">
        <h1 class="text-center bg-info border border-primary">
            Welcome to AI-Chatbot Symfony project ! <br />
            Click on button to enter !
        </h1>
        <button class="btn btn-primary btn-lg">
            <a href="/login" class="text-white">
                Enter
            </a>
    </div>
</div>
{% endblock %}