<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://vikbert.github.io/pixss/build/styles/pixss.min.css"/>
    <title>AI-chatBot!</title>
    <!-- <script src="https://tarteaucitron.io/load.js?domain=ai-chatbot.herokuapp.com&uuid=c499dd4399f6543862d34f5cd0da2451e0521da3"></script> -->
    <script src="{{asset('tarteaucitron/tarteaucitron.js')}}"></script>
    <script type="text/javascript">
        tarteaucitron.init({
    	  "privacyUrl": "", /* Privacy policy url */
          "bodyPosition": "", /* or top to bring it as first element for accessibility */

    	  "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
    	  "cookieName": "tarteaucitron", /* Cookie name */
    
    	  "orientation": "middle", /* Banner position (top - bottom) */
       
          "groupServices": false, /* Group services by category */
          "serviceDefaultState": "true", /* Default state (true - wait - false) */
                           
    	  "showAlertSmall": false, /* Show the small banner on bottom right */
    	  "cookieslist": true, /* Show the cookie list */
                           
          "closePopup": true, /* Show a close X on the banner */

          "showIcon": true, /* Show cookie icon to manage cookies */
          //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
          "iconPosition": "BottomLeft", /* BottomRight, BottomLeft, TopRight and TopLeft */

    	  "adblocker": false, /* Show a Warning if an adblocker is detected */
                           
          "DenyAllCta" : true, /* Show the deny all button */
          "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
          "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
                           
    	  "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

    	  "removeCredit": false, /* Remove credit link */
    	  "moreInfoLink": true, /* Show more info link */

          "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
          "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

    	  //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                          
          "readmoreLink": "", /* Change the default readmore link */

          "mandatory": false, /* Show a message about mandatory cookies */
          "mandatoryCta": false /* Show the disabled accept button when mandatory on */
        });
        </script>
</head>
<body>
<header class="header">
    <nav class="topbar space-between">
        <div class="burger mx-2" style="display:none;">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div style="margin:auto;">Symfony Chatbot POC - w/ChatGPT</div>
        <div class="mx-1">
            <div class="emoji">
                🦸‍♀️
            </div>
        </div>
    </nav>
</header>
<main class="main" style="background: url(./images/ai-background.jpg);background-size: contain;background-repeat: no-repeat;background-position: center;">
    <div class="hero is-primary" style="display:none;">
    </div>
</main>
<script>
    var botmanWidget = {
        frameEndpoint: '{{ path("chat_frame") }}',
        chatServer: '{{ path("chat_message") }}',
        introMessage: 'Hello, I am a chatbot. Ask me anything. I reply with my AI brain. Vous pouvez aussi me parler en français.',
        title: 'AI-chatbot',
        mainColor: '#0089ec',
        color: '#ffffff',
        bubbleBackground: '#e39206',
        aboutText: 'Powered by BotMan and OpenAI GPT-3 api - Credits: Jessica Kuijer',
        placeholderText: 'Ask me anything...',
        aboutLink: 'https://jessicakuijer.com',
        bubbleAvatarUrl: '{{ asset('images/ai-avatar.svg') }}',
        displayMessageTime: true
    };
</script>
<script src='https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/js/widget.js'></script>
</body>
</html>
